# --- GENEL ---
.DS_Store
.env

# --- BACKEND (Python/Django) ---
backend/venv/
backend/__pycache__/
backend/*.sqlite3
backend/media/
*.pyc

# --- FRONTEND (Node/Vue) ---
frontend/node_modules/
frontend/dist/
frontend/.idea/
frontend/.vscode/