version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=nexusflow_db
      - POSTGRES_USER=nexusflow_user
      - POSTGRES_PASSWORD=nexusflow_password
    ports:
      - "5433:5432"  

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data: